*{
    background-color: black;
}
.body{
    background-color: black;
    align-items: center;
    max-width: 100%;
    
}
.header{
    overflow: hidden;
    background-color: #222222;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    left: 0;
}

.tinyButton{
    float: right;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    margin-top: 5px;
    margin-right: 15px;
}

.link{
    color: white;
    float: right;
    display: block;
    text-align: center;
    padding: 15px 15px;
    position: relative;
    right: 0;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: bold;
    background-color: #222222;
}

.home{
    width: 100%;
    padding-top: 40px;
}

.titles{
    color: #ff49f3;
    font-size: 40px;
    font-family: 'Ubuntu';
    font-weight: bold;
    text-shadow: 4px 4px 9px #ce49ff;
    margin-top: 80px;
    margin-left: 170px;
}

.text{
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: bold;
    margin-top: 50px;
    margin-left: 170px;
    margin-right: 150px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: 170px;
    
}

.nft{
    margin-top: 50px;
    max-width: 300px;
    max-height: 300px;
    margin-right: 90px;
}

.description{
    margin-right: 200px;
    margin-left: 80px;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: bold;
    margin-top: 20px;
}

.twoButtons{
    align-items: center;
    margin-left: 450px;
}

button{
    color: #ff49f3;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: bold;
    text-shadow: 4px 4px 9px #ce49ff;
    background-color: transparent;
    border-radius: 20px;
    border-width: 5px;
    border-color: #ff49f3;
    align-items: center;
    padding: 10px 10px;
    margin-top: 75px;
    margin-right: 150px;
}

.jesus{
    width: 100%;
    margin-top: 50px;
}